
<html>
<head>

 <link rel="stylesheet" type="text/css" href="/Pasupu-Kumkuma-Ui/resources/css/master.css" />
<link rel="stylesheet" type="text/css" href="/Pasupu-Kumkuma-Ui/resources/css/user.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<script src="/Pasupu-Kumkuma-Ui/resources/js/jquery-3.1.1.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>


<script type="text/javascript">

$(document).ready(function(e){
	$('.masters').click(function(){
		$(this).toggleClass('tap');
		
	});
	$('.transactions').click(function(){
		$(this).toggleClass('tap');
		
	});
	
});
</script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>

 <script>
	var app = angular.module("ReferalDetailsManagement", []);

	//Controller Part
	app
			.controller(
					"ReferalDetailsController",
					function($scope, $http) {

						$scope.referalDetails = [];
						$scope.referalDetailsForm = {
							// id : -1,
								referredBy : "",
								referredToEmail : "",
								coupanCode : "",
								referalState : ""
								
								
						};

						// Now load the data from server
						_refreshReferalDetailsData();

						// HTTP POST/PUT methods for add/edit role
						// with the help of id, we are going to find out whether it
						// is put or post operation

						$scope.submitReferalDetails = function() {

							var method = "";
							var url = "";
							// alert($scope.genderForm.id);
							if ($scope.referalDetailsForm.id == -1
									|| $scope.referalDetailsForm.id == undefined) {
								// Id is absent in form data, it is create new role
								// operation

								method = "POST";
								url = 'http://localhost:8080/Pasupu-Kumkuma-Api/transactional/referalDetails/';
								$http
										.post(
												url,
												{
													"referredBy" : $scope.referalDetailsForm.referredBy,
													"referredToEmail" : $scope.referalDetailsForm.referredToEmail,
													"coupanCode" : $scope.referalDetailsForm.coupanCode,
													"referalState" : $scope.referalDetailsForm.referalState


													
												}).then(_success, _error);

							} else {

								// Id is present in form data, it is edit role
								// operation
								id = $scope.referalDetailsForm.id;
								
								method = "PUT";
								url = 'http://localhost:8080/Pasupu-Kumkuma-Api/transactional/referalDetails/'
										+ id;
								$http
										.put(
												url,
												{
													"referredBy" : $scope.referalDetailsForm.referredBy,
													"referredToEmail" : $scope.referalDetailsForm.referredToEmail,
													"coupanCode" : $scope.referalDetailsForm.coupanCode,
													"referalState" : $scope.referalDetailsForm.referalState

												}).then(_success, _error);
								$scope.referalDetailsForm.id = -1;
							}
							/*
							 * $http({ method : method, url : url, data :
							 * angular.toJson($scope.genderForm), headers : {
							 * 'Content-Type' : 'application/json' } }).then(
							 * _success, _error );
							 */
						};

						// HTTP DELETE- delete role by Id
						$scope.deleteReferalDetails = function(referalDetails) {
							$http(
									{
										method : 'DELETE',
										url : 'http://localhost:8080/Pasupu-Kumkuma-Api/transactional/referalDetails/'
												+ referalDetails.id
									}).then(_success, _error);
						};

						// In case of edit, populate form fields and assign form.id
						// with role id
						$scope.editReferalDetails = function(referalDetails) {

							$scope.referalDetailsForm.referredBy = referalDetails.referredBy;
							$scope.referalDetailsForm.referredToEmail = referalDetails.referredToEmail;
							$scope.referalDetailsForm.coupanCode = referalDetails.coupanCode;
							$scope.referalDetailsForm.referalState = referalDetails.referalState;

							
							
							
						};

						/* Private Methods */
						// HTTP GET- get all countries collection
						function _refreshReferalDetailsData() {
							$http(
									{
										method : 'GET',
										url : 'http://localhost:8080/Pasupu-Kumkuma-Api/transactional/referalDetails/'
									}).then(function successCallback(response) {
								// alert(response.data.data)
								$scope.referalDetailss = response.data.data;
							}, function errorCallback(response) {
								console.log(response.statusText);
							});
						}

						function _success(response) {

							_refreshReferalDetailsData();
							_clearFormData()
						}

						function _error(response) {

							console.log(response.statusText);
						}

						// Clear the form
						function _clearFormData() {
							// $scope.genderForm.id = -1;
							$scope.referalDetailsForm.referredBy = "";
							$scope.referalDetailsForm.referredToEmail = "";
							$scope.referalDetailsForm.coupanCode = "";
							$scope.referalDetailsForm.referalState = "";


						}
						;
					});
</script> 
<style>
.blue-button {
	background: #25A6E1;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',
		endColorstr='#188BC0', GradientType=0);
	padding: 3px 5px;
	color: #fff;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 4px;
	border: 1px solid #1A87B9
}

.red-button {
	background: #CD5C5C;
	padding: 3px 5px;
	color: #fff;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 4px;
	border: 1px solid #CD5C5C
}

table {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 50%;
}

caption {
	text-align: left;
	color: silver;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
}

th {
	background: SteelBlue;
	color: white;
}

tbody tr:nth-child(even) {
	background: WhiteSmoke;
}

tbody tr td:nth-child(2) {
	text-align: center;
}

tbody tr td:nth-child(3), tbody tr td:nth-child(4) {
	text-align: center;
	font-family: monospace;
}

tfoot {
	background: SeaGreen;
	color: white;
	text-align: right;
}

tfoot tr th:last-child {
	font-family: monospace;
}

td, th {
	border: 1px solid gray;
	width: 25%;
	text-align: left;
	padding: 5px 10px;
}
</style>


<title>AngularJS $http Rest example</title>
<head>
<body>
<div id="header">
		<div class="logo">
			<a href="#">Pasupu<span>Kumkuma</span></a>
		</div>

	</div>
	
	<div id="container">
		<div class="sidebar">
			<ul id="nav">

				<li class="masters"><a href="#">Masters<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/roles">Roles</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/gender">Gender</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/country">Country</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/state">State</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/city">City</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/status">Status</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/raasi">Raasi</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/nakshatram">Nakshatram</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/puja">Puja</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/pujaSamagri">PujaSamagri</a></li>
				
				</ul>
				</li>
				
								
				<li class="transactions"><a href="#">Transactions<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/users">Users</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/address">Address</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/cartOrders">CartOrders</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/contact">Contact</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/couponDetails">CouponDetails</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/couponValue">CouponValue</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/pujaOrder">PujaOrder</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/userRequest">UserRequest</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/pujaOrderDetails">PujaOrdersDetails</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/userRequestsReply">UserRequestsReply</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/referalDetails">ReferalDetails</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/appsession">AppSession</a></li>
							
				
				</ul>
				</li>
				<li><a href="/Pasupu-Kumkuma-Ui/reg">registration</a></li>
				<li><a href="/Pasupu-Kumkuma-Ui/user">login</a></li>
			</ul>
		</div>
<div class="content" ng-app="ReferalDetailsManagement" ng-controller="ReferalDetailsController">
	<h1>Referal Details</h1>
	<form ng-submit="submitReferalDetails()">
		<table>

			<tr>
				<th colspan="2">Add/Edit ReferalDetails</th>
			</tr>
			
			
			<tr>
				<td>Referred By</td>
				<td><input type="text" ng-model="referalDetailsForm.referredBy" /></td>
			</tr>
			
			<tr>
				<td>Referred To Email</td>
				<td><input type="text" ng-model="referalDetailsForm.referredToEmail" /></td>
			</tr>
			
			<tr>
				<td>Coupan Code</td>
				<td><input type="text" ng-model="referalDetailsForm.coupanCode" /></td>
			</tr>
			<tr>
				<td>Referal State</td>
				<td><input type="text" ng-model="referalDetailsForm.referalState" /></td>
			</tr>
			
			
			<tr>
				<td colspan="2"><input type="submit" value="Submit"
					class="blue-button" /></td>
			</tr>
		</table>
	</form>
	<table>
		<tr>

			<th>Referred By</th>
			<th>Referred To Email</th>
			<th>Coupan Code</th>
			<th>Referal State</th>
			
			<th></th>

		</tr>

		<tr ng-repeat="referalDetails in referalDetailss">

						<td>{{ referalDetails.referredBy }}</td>
						
						<td>{{ referalDetails.referredToEmail }}</td>
			
						<td>{{ referalDetails.coupanCode }}</td>
						
						<td>{{ referalDetails.referalState }}</td>

			
			<td><a ng-click="editReferalDetails(referalDetails)" class="blue-button">Edit</a>	| <a ng-click="deleteReferalDetails(referalDetails)" onclick="deleteReferalDetails(referalDetails)" class="red-button">Delete</a></td>
		</tr>

	</table>
</div>
</div>
	<!-- <script src="static/js/gender.js"></script> -->
	<!-- 	<style rel="stylesheet" href ="css/master.css"></style> -->
	<!-- 	<link rel="stylesheet" type="text/css" href="staic/css/master.css" media="screen" /> -->
</body>
</html>