
<html>
<head>

<link rel="stylesheet" type="text/css"
	href="/Pasupu-Kumkuma-Ui/resources/css/master.css" media="screen" />

<link rel="stylesheet" type="text/css" href="resources/css/user.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<script src="resources/js/jquery-3.1.1.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>

<script src="/Pasupu-Kumkuma-Ui/resources/js/jquery-3.1.1.min.js"></script>



<script type="text/javascript">
	$(document).ready(function(e) {
		$('.masters').click(function() {
			$(this).toggleClass('tap');

		});

		$('.transactions').click(function() {
			$(this).toggleClass('tap');

		});

	});
</script>
<meta name="viewport"
	content="width=device-width, initial-scale:1, user-scalable=0" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="/Pasupu-Kumkuma-Ui/resources/js/state.js"></script>
<!-- 	<style rel="stylesheet" href ="css/master.css"></style> -->

<script src="/Pasupu-Kumkuma-Ui/resources/js/nakshatram.js"></script>

<title>AngularJS $http Rest example</title>

</head>
<body ng-controller="MainCtrl">

	<div id="header">
		<div class="logo">
			<a href="#">Pasupu<span>Kumkuma</span></a>
		</div>

	</div>
	<a class="mobile" href="#">Menu</a>
	<div id="container">
		<div class="sidebar">
			<ul id="nav">

				<li class="masters"><a href="#">Masters<span class="sub"></span></a>
					
				<ul>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/roles">Roles</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/gender">Gender</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/country">Country</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/state">State</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/city">City</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/status">Status</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/raasi">Raasi</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/nakshatram">Nakshatram</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/puja">Puja</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/pujaSamagri">PujaSamagri</a></li>
				
				
				</ul>
				</li>
				
				<li class="transactions"><a href="#">Transactions<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/users">Users</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/address">Address</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/cartOrders">CartOrders</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/contact">Contact</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/couponDetails">CouponDetails</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/couponValue">CouponValue</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/pujaOrder">PujaOrder</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/userRequest">UserRequest</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/pujaOrdersDetails">PujaOrdersDetails</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/userRequestsReply">UserRequestsReply</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/referalDetails">ReferalDetails</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/appsession">AppSession</a></li>
				
				</ul>
				</li>
				<li><a href="/Pasupu-Kumkuma-Ui/reg">Registration</a></li>
				<li><a href="/Pasupu-Kumkuma-Ui/user">Login</a></li>
			


			</ul>
			</li>
			</ul>
			</div>





<div class="content" ng-app="NakshatramManagement" ng-controller="NakshatramController">
	<h1>Nakshatram Master</h1>
	<form ng-submit="submitNakshatram()">
		<table>

			<tr>
				<th colspan="2">Add/Edit Nakshatram</th>
			</tr>
			<tr>
				<td>Nakshatram Name</td>
				<td><input type="text" ng-model="nakshatramForm.name" /></td>
			</tr>

			<tr>
				<td>Description</td>
				<td><input type="text" ng-model="nakshatramForm.description" /></td>
			</tr>
			<!-- <tr>
				<td>OrderNum</td>
				<td><input type="text" ng-model="NakshatramForm.orderNum" /></td>
			</tr> -->
			<tr>
				<td colspan="2"><input type="submit" value="Submit"
					class="blue-button" /></td>
			</tr>
		</table>
	</form>
	<table>
		<tr>

			<th>Name</th>
			<th>Description</th>
			<!-- <th>OrderNum</th> -->
			<th></th>

		</tr>

		<tr ng-repeat="nakshatram in nakshatrams">

			<td>{{ nakshatram.name }}</td>
			<td>{{ nakshatram.description }}</td>
			<!-- <td>{{ country.orderNum }}</td> -->

			<td><a ng-click="editNakshatram(nakshatram)" class="blue-button">Edit</a>
				| <a ng-click="deleteNakshatram(nakshatram)" class="red-button">Delete</a></td>
		</tr>

	</table>
</div>
</div>

	<!-- <script src="static/js/gender.js"></script> -->
	<!-- 	<style rel="stylesheet" href ="css/master.css"></style> -->
	<!-- 	<link rel="stylesheet" type="text/css" href="staic/css/master.css" media="screen" /> -->
</body>
</html>