
<html>
<head>

<link rel="stylesheet" type="text/css"
	href="/Pasupu-Kumkuma-Ui/resources/css/master.css" media="screen" />

<link rel="stylesheet" type="text/css" href="resources/css/user.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<script src="resources/js/jquery-3.1.1.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>

<script src="/Pasupu-Kumkuma-Ui/resources/js/jquery-3.1.1.min.js"></script>



<script type="text/javascript">
	$(document).ready(function(e) {
		$('.masters').click(function() {
			$(this).toggleClass('tap');

		});

		$('.transactions').click(function() {
			$(this).toggleClass('tap');

		});

	});
</script>
<meta name="viewport"
	content="width=device-width, initial-scale:1, user-scalable=0" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="/Pasupu-Kumkuma-Ui/resources/js/state.js"></script>
<!-- 	<style rel="stylesheet" href ="css/master.css"></style> -->

<script type="text/javascript">
	var app = angular.module("PujaManagement", []);

	//Controller Part
	app
			.controller(
					"PujaController",
					function($scope, $http) {

						$scope.countries = [];
						$scope.pujaForm = {
							//  id : -1,
							name : "",
							description : "",
							price       :"",
							duration     :"",
							photo		  :"",
							pujaCount     :"",
							status		:""
						};

						//Now load the data from server
						_refreshPujaData();

						//HTTP POST/PUT methods for add/edit role 
						// with the help of id, we are going to find out whether it is put or post operation

						$scope.submitPuja = function() {

							var method = "";
							var url = "";
							// alert($scope.roleForm.id);
							if ($scope.pujaForm.id == -1
									|| $scope.pujaForm.id == undefined) {
								//Id is absent in form data, it is create new role operation

								method = "POST";
								url = 'http://localhost:8080/Pasupu-Kumkuma-Api/master/puja/';
								$http.post(url, {
									"name" : $scope.pujaForm.name,
									"description" : $scope.pujaForm.description,
									"price":$scope.pujaForm.price,
									"duration":$scope.pujaForm.duration,
									"photo":$scope.pujaForm.photo,
									"pujaCount":$scope.pujaForm.pujaCount,
									"status":$scope.pujaForm.status
												
								}).then(_success, _error);

							} else {

								//Id is present in form data, it is edit role operation
								id = $scope.pujaForm.id;
								method = "PUT";
								url = 'http://localhost:8080/Pasupu-Kumkuma-Api/master/puja/'
										+ id;
								$http.put(url, {
									"name" : $scope.pujaForm.name,
									"description" : $scope.pujaForm.description,
									"price":$scope.pujaForm.price,
									"duration":$scope.pujaForm.duration,
									"photo":$scope.pujaForm.photo,
									"pujaCount":$scope.pujaForm.pujaCount,
									"status":$scope.pujaForm.status
								}).then(_success, _error);
								$scope.pujaForm.id = -1;
							}
							/*         
							                   $http({
							                       method : method,
							                       url : url,
							                       data : angular.toJson($scope.roleForm),
							                       headers : {
							                           'Content-Type' : 'application/json'
							                       }
							                   }).then( _success, _error ); */
						};

						//HTTP DELETE- delete role by Id
						$scope.deletePuja = function(puja) {
							$http(
									{
										method : 'DELETE',
										url : 'http://localhost:8080/Pasupu-Kumkuma-Api/master/puja/'
												+ puja.id
									}).then(_success, _error);
						};

						// In case of edit, populate form fields and assign form.id with role id
						$scope.editPuja = function(puja) {

							$scope.pujaForm.name = puja.name;
							$scope.pujaForm.description = puja.description;
							$scope.pujaForm.price = puja.price;
							$scope.pujaForm.duration = puja.duration;
							$scope.pujaForm.photo = puja.photo;
							$scope.pujaForm.pujaCount = puja.pujaCount;
							$scope.pujaForm.status = puja.status;
							$scope.pujaForm.id = puja.id;
							
						};

						/* Private Methods */
						//HTTP GET- get all countries collection
						function _refreshPujaData() {
							$http(
									{
										method : 'GET',
										url : 'http://localhost:8080/Pasupu-Kumkuma-Api/master/puja/'
									}).then(function successCallback(response) {
								//alert(response.data.data)
								$scope.pujas = response.data.data;
							}, function errorCallback(response) {
								console.log(response.statusText);
							});
						}

						function _success(response) {

							_refreshPujaData();
							_clearFormData()
						}

						function _error(response) {

							console.log(response.statusText);
						}

						//Clear the form
						function _clearFormData() {
							//  $scope.roleForm.id = -1;
							$scope.pujaForm.name = "";
							$scope.pujaForm.description = "";
							$scope.pujaForm.price = "";
							$scope.pujaForm.duration = "";
							$scope.pujaForm.photo = "";
							$scope.pujaForm.pujaCount = "";
							$scope.pujaForm.status = "";

						}
						;
					});
</script>

<title>AngularJS $http Rest example</title>

</head>
<body  ng-controller="MainCtrl">

	<div id="header">
		<div class="logo">
			<a href="#">Pasupu<span>Kumkuma</span></a>
		</div>

	</div>
	<a class="mobile" href="#">Menu</a>
	<div id="container">
		<div class="sidebar">
			<ul id="nav">

				<li class="masters"><a href="#">Masters<span class="sub"></span></a>
					
				<ul>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/roles">Roles</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/gender">Gender</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/country">Country</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/state">State</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/city">City</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/status">Status</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/raasi">Raasi</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/nakshatram">Nakshatram</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/puja">Puja</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/pujaSamagri">PujaSamagri</a></li>
				
				
				
				</ul>
				</li>
				
				<li class="transactions"><a href="#">Transactions<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/users">Users</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/address">Address</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/cartorders">CartOrders</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/contact">Contact</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/coupondetails">CouponDetails</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/couponvalue">CouponValue</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/pujaorder">PujaOrder</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/userrequest">UserRequest</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/pujaordersdetails">PujaOrdersDetails</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/userrequestsreply">UserRequestsReply</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/referaldetails">ReferalDetails</a></li>
				<li class="child"><a href="/Pasupu-Kumkuma-Ui/appsession">AppSession</a></li>
				
				</ul>
				</li>
				<li><a href="/Pasupu-Kumkuma-Ui/reg">Registration</a></li>
				<li><a href="/Pasupu-Kumkuma-Ui/user">Login</a></li>
			


			</ul>
			</li>
			</ul>
			</div>

<div class="content" ng-app="PujaManagement" ng-controller="PujaController">

	<h1>Puja Master</h1>
	<form ng-submit="submitPuja()">
		<table>

			<tr>
				<th colspan="2">Add/Edit puja</th>
			</tr>
			<tr>
				<td>Puja Name</td>
				<td><input type="text" ng-model="pujaForm.name" /></td>
			</tr>
			<tr>
				<td>Description</td>
				<td><input type="text" ng-model="pujaForm.description" /></td>
			</tr>
			<tr>
				<td>Price</td>
				<td><input type="text" ng-model="pujaForm.price" /></td>
			</tr>
			<tr>
				<td>Duration</td>
				<td><input type="text" ng-model="pujaForm.duration" /></td>
			</tr>
			<tr>
				<td>Photo</td>
				<td><input type="text" ng-model="pujaForm.photo" /></td>
			</tr>
			<tr>
				<td>PujaCount</td>
				<td><input type="text" ng-model="pujaForm.pujaCount" /></td>
			</tr>
			<tr>
				<td>Status</td>
				<td><input type="text" ng-model="pujaForm.status" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Submit"
					class="blue-button" /></td>
			</tr>
		</table>
	</form>

	<b>SearchBox:</b>
	<input type="text" ng-model="search" class="form-control search"
		placeholder="searchText">


	<table class="table table-striped table-bordered">
		<tr>

			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Duration</th>
			<th>Photo</th>
			<th>PujaCount</th>
			<th>Status</th>
			<th></th>

		</tr>

		<tr ng-repeat="puja in pujas |filter:search"">

			<td>{{ puja.name }}</td>
			<td>{{ puja.description }}</td>
			<td>{{ puja.price}}</td>
			<td>{{ puja.duration }}</td>
			<td>{{ puja.photo }}</td>
			<td>{{ puja.pujaCount}}</td>
			<td>{{ puja.status }}</td>

			<td><a ng-click="editPuja(puja)" class="blue-button">Edit</a> |
				<a ng-click="deletePuja(puja)" class="red-button">Delete</a></td>
		</tr>

	</table>
	
</div>
</div>

</body>
</html>