<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title>job portal</title>
	
</head>
<style>
body {
    background-image: url("http://previews.123rf.com/images/zagandesign/zagandesign1307/zagandesign130700147/21221232-Empleados-S-mbolos-de-negocios-de-vectores-de-fondo-abstracto-Foto-de-archivo.jpg");
    background-color: #cccccc;
}
</style>

<body>

<div align="center">
<div class="btn-group" role="group" aria-label="...">
  <a href="/registration" button type="button" class="btn btn-default">Registration</a>
  <a href="/state" button type="button" class="btn btn-default">state</a>
  <a href="/city" button type="button" class="btn btn-default">city</a>


</div>
</div>
</body>
</html>

