
<html>
<head>

 <link rel="stylesheet" type="text/css" href="/Spring4HelloWorld/resources/css/master.css" />
<link rel="stylesheet" type="text/css" href="resources/css/user.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<script src="resources/js/jquery-3.1.1.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>


<script type="text/javascript">

$(document).ready(function(e){
	$('.masters').click(function(){
		$(this).toggleClass('tap');
		
	});
	$('.transactions').click(function(){
		$(this).toggleClass('tap');
		
	});
	
});
</script>
<meta name="viewport" content="width=device-width, initial-scale:1, user-scalable=0"/>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="/visog-job-portal-ui/resources/js/address.js"></script>
 <script>bbmb
	var app = angular.module("AddressManagement", []);
<commit2>
	//Controller Part
	app
			.controller(
					"AddressController",
					function($scope, $http) {

						$scope.address = [];
						$scope.countryForm = {
							// id : -1,
								addresstype : "",
								line1 : "",
								line2 : "",
								city : "",
								state : "",
								country : "",
								zipcode : "",
								associatedtype : "",
								associatedid : ""
						};

						// Now load the data from server
						_refreshAddressData();

						// HTTP POST/PUT methods for add/edit role
						// with the help of id, we are going to find out whether it
						// is put or post operation

						$scope.submitAddress = function() {

							var method = "";
							var url = "";
							// alert($scope.genderForm.id);
							if ($scope.countryForm.id == -1
									|| $scope.addressForm.id == undefined) {
								// Id is absent in form data, it is create new role
								// operation

								method = "POST";
								url = 'http://localhost:8080/visog-job-portal-api/transaction/address/';
								$http
										.post(
												url,
												{
													"addresstype" : $scope.addressForm.addresstype,
													"line1" : $scope.addressForm.line1,
													"line2" : $scope.addressForm.line2,
													"city" : $scope.addressForm.city,
													"state" : $scope.addressForm.state,
													"country" : $scope.addressForm.country,
													"zipcode" : $scope.addressForm.zipcode,
													"associatedtype" : $scope.addressForm.associatedtype,
													"associatedid" : $scope.addressForm.associatedid
													
												}).then(_success, _error);

							} else {

								// Id is present in form data, it is edit role
								// operation
								id = $scope.addressForm.id;
								
								method = "PUT";
								url = 'http://localhost:8080/visog-job-portal-api/transaction/address/'
										+ id;
								$http
										.put(
												url,
												{
													"addresstype" : $scope.addressForm.addresstype,
													"line1" : $scope.addressForm.line1,
													"line2" : $scope.addressForm.line2,
													"city" : $scope.addressForm.city,
													"state" : $scope.addressForm.state,
													"country" : $scope.addressForm.country,
													"zipcode" : $scope.addressForm.zipcode,
													"associatedtype" : $scope.addressForm.associatedtype,
													"associatedid" : $scope.addressForm.associatedid
												}).then(_success, _error);
								$scope.addressForm.id = -1;
							}
							/*
							 * $http({ method : method, url : url, data :
							 * angular.toJson($scope.genderForm), headers : {
							 * 'Content-Type' : 'application/json' } }).then(
							 * _success, _error );
							 */
						};

						// HTTP DELETE- delete role by Id
						$scope.deleteAddress = function(address) {
							$http(
									{
										method : 'DELETE',
										url : 'http://localhost:8080/visog-job-portal-api/master/address/'
												+ address.id
									}).then(_success, _error);
						};

						// In case of edit, populate form fields and assign form.id
						// with role id
						$scope.editAddress = function(address) {

							$scope.addressForm.addresstype = address.addresstype;
							$scope.addressForm.line1 = address.line1;
							$scope.addressForm.line2 = address.line2;
							$scope.addressForm.city = address.city;
							$scope.addressForm.state = address.state;
							$scope.addressForm.country = address.country;
							$scope.addressForm.zipcode = address.zipcode;
							$scope.addressForm.associatedtype = address.associatedtype;
							$scope.addressForm.associatedid = address.associatedid;
							$scope.addressForm.id =address.id;
						};

						/* Private Methods */
						// HTTP GET- get all countries collection
						function _refreshAddressData() {
							$http(
									{
										method : 'GET',
										url : 'http://localhost:8080/visog-job-portal-api/master/address/'
									}).then(function successCallback(response) {
								// alert(response.data.data)
								$scope.address = response.data.data;
							}, function errorCallback(response) {
								console.log(response.statusText);
							});
						}

						function _success(response) {

							_refreshAddressData();
							_clearFormData()
						}

						function _error(response) {

							console.log(response.statusText);
						}

						// Clear the form
						function _clearFormData() {
							// $scope.genderForm.id = -1;
							$scope.addressForm.addresstype = "";
							$scope.addressForm.line1 = "";
							$scope.addressForm.line2 = "";
							$scope.addressForm.city = "";
							$scope.addressForm.state = "";
							$scope.addressForm.country = "";
							$scope.addressForm.zipcode = "";
							$scope.addressForm.associatedtype = "";
							$scope.addressForm.associatedid = "";

						}
						;
					});
</script> 
<style>
.blue-button {
	background: #25A6E1;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',
		endColorstr='#188BC0', GradientType=0);
	padding: 3px 5px;
	color: #fff;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 4px;
	border: 1px solid #1A87B9
}

.red-button {
	background: #CD5C5C;
	padding: 3px 5px;
	color: #fff;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 4px;
	border: 1px solid #CD5C5C
}

table {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 50%;
}

caption {
	text-align: left;
	color: silver;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
}

th {
	background: SteelBlue;
	color: white;
}

tbody tr:nth-child(even) {
	background: WhiteSmoke;
}

tbody tr td:nth-child(2) {
	text-align: center;
}

tbody tr td:nth-child(3), tbody tr td:nth-child(4) {
	text-align: center;
	font-family: monospace;
}

tfoot {
	background: SeaGreen;
	color: white;
	text-align: right;
}

tfoot tr th:last-child {
	font-family: monospace;
}

td, th {
	border: 1px solid gray;
	width: 25%;
	text-align: left;
	padding: 5px 10px;
}
</style>


<title>AngularJS $http Rest example</title>
<head>
<body>
<div id="header">
		<div class="logo">
			<a href="#">Job<span>Portal</span></a>
		</div>

	</div>
	
	<div id="container">
		<div class="sidebar">
			<ul id="nav">

				<li class="masters"><a href="#">Masters<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/visog-job-portal-ui/roles">Roles</a></li>
				<li class="child"><a href="/visog-job-portal-ui/gender">Gender</a></li>
				<li class="child"><a href="/visog-job-portal-ui/country">Country</a></li>
				<li class="child"><a href="/visog-job-portal-ui/state">State</a></li>
				<li class="child"><a href="/visog-job-portal-ui/city">City</a></li>
				<li class="child"><a href="/visog-job-portal-ui/addressType">Address Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/courses">Courses</a></li>
				<li class="child"><a href="/visog-job-portal-ui/specialization">Specialization</a></li>
				<li class="child"><a href="/visog-job-portal-ui/university">University</a></li>
				<li class="child"><a href="/visog-job-portal-ui/educationType">Education Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/languages">Languages </a></li>
				<li class="child"><a href="/visog-job-portal-ui/currency">Currency</a></li>
				<li class="child"><a href="/visog-job-portal-ui/industry">Industry</a></li>
				<li class="child"><a href="/visog-job-portal-ui/domains">Domains</a></li>
				<li class="child"><a href="/visog-job-portal-ui/jobRole">Job Role</a></li>
				<li class="child"><a href="/visog-job-portal-ui/status">Status</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employmentType">Employment Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employerType">Employer Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/fileType">File Type</a></li>
				
				</ul>
				</li>
				
				<li class="transactions"><a href="#">Transactions<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/visog-job-portal-ui/users">Users</a></li>
				<li class="child"><a href="/visog-job-portal-ui/address">Address</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employer">Employer</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postJob">Post Job</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postJodDomains">Post Job Domains</a></li>
				<li class="child"><a href="/visog-job-portal-ui/files">Files</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employerJobseeker">Employer Job Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postJobseeker">PostJob Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/jobSeeker">Job Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/educationDetails">Education Details</a></li>
				<li class="child"><a href="/visog-job-portal-ui/languageKnown">Language Known</a></li>
				<li class="child"><a href="/visog-job-portal-ui/projectDetails">Project Details</a></li>
				<li class="child"><a href="/visog-job-portal-ui/experienceDetails">Experience Details</a></li>
				
				</ul>
				</li>
				<li><a href="/visog-job-portal-ui/reg">registration</a></li>
				<li><a href="/visog-job-portal-ui/user">login</a></li>
			</ul>
		</div>
<div class="content" ng-app="AddressManagement" ng-controller="AddressController">
	<h1>Address Transaction</h1>
	<form ng-submit="submitAddress()">
		<table>

			<tr>
				<th colspan="2">Add/Edit Address</th>
			</tr>
			<tr>
			
			<tr>
				<td>Address Type</td>
				<td><input type="text" ng-model="addressForm.addresstype" /></td>
			</tr>
			
				<td>Address Line1</td>
				<td><input type="text" ng-model="addressForm.line1" /></td>
			</tr>
			
			<tr>
				<td>Address Line2</td>
				<td><input type="text" ng-model="addressForm.line2" /></td>
			</tr>
			
			<tr>
				<td>City</td>
				<td><input type="text" ng-model="addressForm.city" /></td>
			</tr>
			
			<tr>
				<td>State</td>
				<td><input type="text" ng-model="addressForm.state" /></td>
			</tr>
			
			<tr>
				<td>Country</td>
				<td><input type="text" ng-model="addressForm.country" /></td>
			</tr>
			
			<tr>
				<td>ZipCode</td>
				<td><input type="text" ng-model="addressForm.zipcode" /></td>
			</tr>
			
			<tr>
				<td>Associated Type</td>
				<td><input type="text" ng-model="addressForm.associatedtype" /></td>
			</tr>
			
			<tr>
				<td>Associated Id</td>
				<td><input type="text" ng-model="addressForm.associatedid" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Submit"
					class="blue-button" /></td>
			</tr>
		</table>
	</form>
	<table>
		<tr>

			<th>Address Type</th>
			<th>Address Line1</th>
			<th>Address Line2</th>
			<th>City</th>
			<th>State</th>
			<th>Country</th>
			<th>ZipCode</th>
			<th>Associated Type</th>
			<th>Associated Id</th>
			
			<th></th>

		</tr>

		<tr ng-repeat="address in address">

						<td>{{ address.addresstype }}</td>
						
						<td>{{ address.line1 }}</td>
			
						<td>{{ address.line2 }}</td>
			
						<td>{{ address.city }}</td>
			
						<td>{{ address.state }}</td>
			
						<td>{{ address.country }}</td>
			
						<td>{{ address.zipcode }}</td>
			
						<td>{{ address.associatedtype }}</td>
			
						<td>{{ address.associatedid }}</td>
			
			

			<td><a ng-click="editAddress(address)" class="blue-button">Edit</a>	| <a ng-click="deleteAddress(address)" onclick="deleteAddress(address)" class="red-button">Delete</a></td>
		</tr>

	</table>
</div>
</div>
	<!-- <script src="static/js/gender.js"></script> -->
	<!-- 	<style rel="stylesheet" href ="css/master.css"></style> -->
	<!-- 	<link rel="stylesheet" type="text/css" href="staic/css/master.css" media="screen" /> -->
</body>
</html>